@import url(../styles/root.css);
@import url(../styles/header/header.css);
@import url(../styles/footer/footer.css);

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-body);
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    Width: 1201px;
    Height: 80%;
    background: var(--branco-primário);
    border-radius: 32px;
    margin-left: 120px;
    margin-top: 95px;
    border-top: 5px solid var(--vermelho-primário);
}

.card{
    border: none;
    display: flex;
    align-items: center;
}

.titulo__conteudo{
    margin: 40px auto;
}

.titulo__card{
    font-size: 2rem;
    font-weight: 700;
}

.descricao__card{
    margin: 20px 20px;
    font-size: 1.2rem;
}

.video__card{
    margin: 40px auto;
    border-top: 5px solid var(--vermelho-primário);
    border-radius: 32px;
}