:root{
    --background-body:#F3F3F3;
    --texto-primário: #636363;
    --texto-secundário: #8F8282;;
    --vermelho-primário: #ED184B;
    --branco-primário: #FFFFFF;
    --texto-preto: #000000;
    --fundo-input: #ECECEC;
    --link-color: #787878;
}